<footer class="site-footer">
    <div class="container">
    
      <div class="row">
        <div class="col-md-4">
          <h3 class="footer-heading mb-4 text-white">Thông tin về chúng tôi</h3>
          <p>khách sạn cao cấp, cung cấp cho khách hàng những trải nghiệm nghỉ dưỡng tuyệt vời. Khách sạn này có vị trí đắc địa.</p>
          <p><a href="#" class="btn btn-primary pill text-white px-4">Đọc thêm</a></p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h3 class="footer-heading mb-4 text-white">Truy cập nhanh</h3>
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Trang chủ</a></li>
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Phòng</a></li>
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Sự kiện</a></li>
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Liên hệ</a></li>
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Thông tin</a></li>
                </ul>
            </div>
            <div class="col-md-6">
              <h3 class="footer-heading mb-4 text-white">Danh mục dịch vụ</h3>
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Xe đưa đón</a></li>
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Tour du lịch</a></li>
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Dịch vụ khách sạn</a></li>
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Vận chuyển hành lý</a></li>
                  <li><a href="#"><i class="fa-solid fa-chevron-right" style = "margin-right: 10px;"></i>Nhà hàng</a></li>
                </ul>
            </div>
          </div>
        </div>

        
        <div class="col-md-2">
          <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Mạng xã hội</h3></div>
            <div class="col-md-12">
              <p>
                <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

              </p>
            </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Mọi nội dung tại đây © 2005 – 2023 Công ty TNHH Tư nhân StayNTouch. Bảo Lưu Mọi Quyền.
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        
      </div>
    </div>
  </footer>
  