
{% extends 'layout.html' %}

{% block content %}
<div class="backgroud-blue">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade">
        </div>
      </div>
    </div>
  </div> 

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class ="col-sm-8">
                    <div class="row main-booking">
                        <div class="booking-form">
                            <form>
                                <div class="row no-margin">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Ngày đến</span>
                                            <input class="form-control" type="date" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <span class="form-label">Ngày đi</span>
                                            <input class="form-control" type="date" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <span class="form-label">Số lượng người</span>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Email(không bắt buộc)</span>
                                    <input class="form-control form-control-lg" type="email">
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Nhập lại email</span>
                                    <input class="form-control" type="email">
                                </div>
                                <div class="form-group">
                                    <span class="form-label">Số điện thoại</span>
                                    <input class="form-control" type="tel">
                                </div>
        
                                <div class="row no-margin">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <span class="form-label">Phương thức thanh toán</span>
                                            <select id="payment-method" class="form-control">
                                                <option value="thenganhang" data-image="https://timo.vn/wp-content/uploads/card-1673581_1280-2.png">Thẻ Ngân Hàng</option>
                                                <option value="momo" data-image="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-MoMo-Transparent.png">MoMo</option>
                                                <option value="momo" data-image="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-ZaloPay-Square.png">Ví ZaloPay</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                            <div class="select-image"></div>
                                        </div>
                                    </div>
                                </div>
                                <div style = "margin-top:-16px;">
                                    <hr style = " border-color: #dddee9">
                                </div>
                                
                            </form>
                            
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" style = "background-color: rgb(83, 146, 249);border:none;margin-left:180px;padding:15px 25px;margin-top:20px;">Thanh toán ngay</button>
                </div>
                <div class = "col-sm-4">
                    <div class="row info-pay">
                        <div class="row">
                            <div class="col-sm-6">
                                <img style = "max-width: 100%"src="https://cdn3.ivivu.com/2014/01/SUPER-DELUXE2.jpg" alt="">
                            </div>

                            <div class="col-sm-6 text-des">
                              <div class="block-wifi"><p>Wi-Fi Miễn phí</p></div>
                              <p style = "color: rgb(27, 27, 27); font-size:18px;">Phòng số</p>
                              <p>sao</p>
                              <p>mô tả</p> 
                            </div>

                        </div>

                    </div>
                    <div class="row info-pay" style = "margin-top:20px;">
                        <h1>Giá tiền (1 phòng x 1 đêm):</h1>
                        <h1>Đặt cọc: </h1>
                        <h1>Số tiền còn lại:</h1>
                        <h1>Giá đã bao gồm: Thuế 10%, Phí dịch vụ 5%</h1>
                        <hr>
                        <h1 style = "font-family: inherit;color: #252525;font-size:20px;">Tổng giá phải thanh toán </h1>
                                                
                    </div>
                </div>
            </div>
            
    </div>
</div>

<script>
    var paymentMethodSelect = document.getElementById("payment-method");
    var paymentMethodImage = document.querySelector(".select-image");
    paymentMethodSelect.addEventListener("change", function() {
        var selectedOption = paymentMethodSelect.options[paymentMethodSelect.selectedIndex];
        paymentMethodImage.style.backgroundImage = "url('" + selectedOption.getAttribute("data-image") + "')";
    });
</script>
{% endblock %}